
<%-include('common/head.ejs')-%>


      <title>Hello, world!</title>
   </head>
   <body>
    
<%-include('common/header.ejs')-%>
      <div class="container-fluid bg-side-nav">
         <div class="row">
            <div class="col-lg-2 sidebaare">
             
<%-include('common/sidebar.ejs')-%>
            </div>
            <div class="col-lg-10">

              <div class="dashboard-content-area">
                <!-- put your contente -->
<h1>All Document</h1>
               <div class="row">
                  <div class="col-lg-4 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                      <div class="inner">
                        <h3><%-x-%></h3>
        
                        <p>Naigation Pages</p>
                      </div>
                      <div class="icon">
                        <i class="ion ion-bag"></i>
                      </div>
                      <a href="/admin/page/" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                  </div>
                  <!-- ./col -->
                  <!-- <div class="col-lg-4 col-6">
                    
                    <div class="small-box bg-success">
                      <div class="inner">
                        <h3>53<sup style="font-size: 20px">%</sup></h3>
        
                        <p>Category</p>
                      </div>
                      <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                      </div>
                      <a href="/admin/category/" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                  </div> -->
                  <!-- ./col -->
                  <!-- <div class="col-lg-4 col-6">
                  
                    <div class="small-box bg-warning">
                      <div class="inner">
                        <h3>44</h3>
        
                        <p>Products</p>
                      </div>
                      <div class="icon">
                        <i class="ion ion-person-add"></i>
                      </div>
                      <a href="/admin/products/" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                  </div> -->
                  <!-- ./col -->
            
                  <!-- <div class="col-lg-3 col-6">
                    <div class="small-box bg-danger">
                      <div class="inner">
                        <h3>65</h3>
        
                        <p>Unique Visitors</p>
                      </div>
                      <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                      </div>
                      <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                  </div> -->
                </div> 

              <!-- end your content here -->
             </div>

            </div>
         </div>
      </div>

      <%-include('common/footer.ejs')-%>
