<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= x ? x.pageMetaKeyword : '' %></title> 
         <meta name="keywords" content="<%=x ? x.pageMetaKeyword: ''%>"/> 
        <meta name="description" content="<%=x?x.pageMetaDescription:''%>"/>
        <%-include('common/head.ejs')-%>
</head>
<body>
    
    <%-include('common/header.ejs')-%>
    <div class="container">
        <%if(x?x.pagePhoto:''){%>
            <div style=" height: 40rem;display: flex;flex-direction: column; justify-content: center; ">
                <img src="/backend/images/<%=x?x.pagePhoto:''%>" alt="">
            </div>
            <%}%> 
            <div class="card text-center" style="padding:2rem 5rem;">

                <h1><%=x ? x.pageHeading: ''%></h1>
               <p style="padding:1rem;margin: 0 1rem;"> <%-x ? x.pageDetails: ''-%></p>
            </div>
            
            
        </div>
            
        </body>
<%-include('common/footer.ejs')-%>
</html>
